:root {
    --ssBlue: rgb(0,28,76);
    --ssWhite: rgb(220,204,194);
    --ssLightBlue: rgb(0,63,147);
}

img {
    max-width: 98%;
    margin: 1%;
}

body {
    background-color: var(--ssBlue);
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 25px; /* This creates the rounded effect */
    color: white; /* Text color */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: var(--ssLightBlue)
}